db:
  host: ${ db.host }
  port: ${ db.port }
  user: ${ db.user }
  password: ${ db.password }
redis:
  host: ${ redis.host }
  port: ${ redis.port }
  password: ${ redis.password }
s3:
  endpoint: ${ s3.endpoint }
  access_key_id: ${ s3.access_key_id }
  secret_access_key: ${ s3.secret_access_key }
  bucket: ${ s3.bucket }
  region: ${ s3.region }
